<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.0.xsd">
    <beans:bean id="authenticationEntryPoint"
                class="com.perceptive.epm.perkolcentral.common.utils.AjaxAwareAuthenticationEntryPointUtil">
        <beans:property name="loginFormUrl" value="/loginView.action?invalidSession=true"/>
    </beans:bean>
    <http auto-config="true" use-expressions="true" entry-point-ref="authenticationEntryPoint">
        <intercept-url pattern="/loginView.action" filters="none"/>
        
        <intercept-url pattern="/js" filters="none"/>
        <intercept-url pattern="/css" filters="none"/>
        <intercept-url pattern="/images" filters="none"/>
        <intercept-url pattern="/jsp" filters="none"/>
        <intercept-url pattern="/struts/**" filters="none"/>
        <intercept-url pattern="/menu.css" filters="none"/>
        <intercept-url pattern="/menu.js" filters="none"/>
        <intercept-url pattern="/js/jOrgChart/css" access="isAuthenticated()"/>
        <form-login login-page="/loginView.action?invalidSession=true"
                    authentication-failure-url="/loginView.action?loginFail=1"
                    default-target-url="/home.action"/>
        <!--<session-management invalid-session-url="/loginView.action?invalidSession=true"/>-->
        <logout invalidate-session="true"
                logout-success-url="/loginView.action?logout=true"/>

    </http>
    <!--For Dev Purpose-->
    
    <!-- <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="saighosh" password="user1234" authorities="ROLE_ADMIN, ROLE_PER_KOL_USER"/>
            </user-service>
        </authentication-provider>
    </authentication-manager> -->
   
    <!--For Production Purpose-->

    <!--
    <authentication-manager>
        <ldap-authentication-provider server-ref="ldapServer" user-search-base="ou=Employees"
                                      user-search-filter="uid={0}">

        </ldap-authentication-provider>
    </authentication-manager>

    <ldap-server id="ldapServer"
                 url="ldap://directory.lex.lexmark.com:389/o=Lexmark"/>-->


    <authentication-manager>
        <authentication-provider ref="ldapAuthProvider"/>
        
         <authentication-provider>
		   <user-service>
		    <user authorities="ROLE_PER_KOL_USER" name="guest" password="user1234"/>
		   </user-service>
		 </authentication-provider>
    </authentication-manager>
    <beans:bean id="contextSource"
                class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
        <beans:constructor-arg value="ldap://directory.lex.lexmark.com:389/o=Lexmark"/>
    </beans:bean>

    <beans:bean id="ldapAuthProvider"
                class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
        <beans:constructor-arg>
            <beans:bean class="org.springframework.security.ldap.authentication.BindAuthenticator">
                <beans:constructor-arg ref="contextSource"/>
                <beans:property name="userDnPatterns">
                    <beans:list>
                        <beans:value>uid={0},ou=Employees</beans:value>
                    </beans:list>
                </beans:property>
            </beans:bean>
        </beans:constructor-arg>
        <beans:constructor-arg>
            <beans:bean class="com.perceptive.epm.perkolcentral.common.utils.CustomLDAPAuthoritiesPopulator">
                <beans:property name="employeeBL" ref="springManagedEmployeeBL"/>
            </beans:bean>
        </beans:constructor-arg>
    </beans:bean>

</beans:beans>