
/* ==== Overall Container ==== */
.feedget-container { 
	background-color:#eeeeee; 
	font-family:Calibri; 
	text-align:center; 
	line-height:14px; 
}

/* ==== Error message ==== */
.feedget-error  { 
	font-size:12px; 
}

/* ==== Header ==== */
.feedget-header-container { 
	margin:0; 
	background-color:#333333; 
	color:#ffffff; 
	height:42px; 
	text-align: left; 
	overflow:hidden;
} 

.feedget-header-title { 
	font-size:14px; 
	font-weight:700; 
	display:block; 
	padding-top:5px; 
	padding-left:5px; 
	width:73%; 
	line-height:17px;
} 

.feedget-header-description { 
	font-size:12px; 
	display:block; 
	padding-top:1px; 
	padding-left:5px; 
	line-height:17px; 
}

.vertical .feedget-header-description { 
	width:73%; 
}

.horizontal .feedget-header-description { 
	width:90%; 
}

.feedget-header-container div.left.arrow { 
	position:absolute; 
	top:9px; 
	right:35px; 
	width:25px; 
	height:25px;
}	
.feedget-header-container div.right.arrow { 
	position:absolute; 
	top:9px; 
	right:5px; 
	width:25px; 
	height:25px;
}
.feedget-header-container div.up.arrow { 
	position:absolute; 
	top:9px; 
	right:35px; 
	width:25px; 
	height:25px;
}
.feedget-header-container div.down.arrow { 
	position:absolute; 
	top:9px; 
	right:5px; 
	width:25px; 
	height:25px;
}

/* ==== Loader ==== */
.feedget-loading { 
	margin-top: 10px; 
}

/* ==== Element ==== */
.feedget-elements-container { 
	padding:5px;
}

.feedget-element { 
	padding:5px; 
	border:thin solid #555555; 
	background-color:#ffffff; 
	overflow:hidden; 
	text-align:center; 	
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	border-radius: 5px;
} 
.feedget-element.over { 
	background-color:#dddddd;
}
.feedget-element-title  a { 
	font-size:13px; 
	font-weight:700; 
	color:#CE0000!important; 
	display:block; 
	text-decoration:none; 
}
.feedget-element-title  a:hover { 
	text-decoration:underline; 
}
.feedget-element-date { 
	font-size: 9px;
	color:#666666; 
	display:block; 
	margin-bottom:5px; 
}
.feedget-element-text { 
	font-size:10px; 
	display:block; 
}

.horizontal .feedget-element{ 
	float:left; 
	display:block; 
	width:246px; 
	margin-right:5px; 
	position:relative;
} 
.horizontal .feedget-element:last-child { 
	margin-right:0!important;
}
.horizontal .feedget-element span { 
	text-align:left; 
}

.vertical .feedget-element { 
	margin-bottom:5px;
}
.vertical .feedget-element:last-child { 
	margin-bottom:0!important;
}
.vertical .feedget-element span { 
	text-align:left; 
}

/* ==== Social buttons ==== */
.feedget-element-social {
	margin: 10px 0 0 0;
	text-align:center;
	width:100%;
}
.horizontal .feedget-element-social {
	position:absolute;
	bottom:5px;
}
.feedget-element-facebook { 
	display:inline;
}
.feedget-element-twitter { 
	display:inline;
}
.feedget-element-facebook iframe { 
	width:100px!important;
}
.feedget-element-twitter iframe {
	width:100px!important;
}

.feedget-element-image { 
	max-width:80%!important; 
	border:none; 
}

/* ==== Scroll Bars ==== */
.feedget-body-container::-webkit-scrollbar { 
	width: 10px; 
	height: 10px; 
} 
.feedget-body-container::-webkit-scrollbar-track { 
	margin: 10px 3px 10px 3px; 
	-webkit-box-shadow: inset 0 0 6px rgba(125,125,125,0.3);  
	-webkit-border-radius: 10px; 
	border-radius: 10px;
} 
.feedget-body-container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(125,125,125,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.feedget-body-container::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(125,125,125,0.4); 
}
